.topnav {
  text-align: center;
  border: 3px solid #660066;
  font-size: 34px;
  position: fixed;
  width: 100%;
  overflow: hidden;
  top: 0;
  background-color: #660066;
}

.topnav a {
  color: white;
}

body {
  background-color: #ffccff;
  font-family: "Cormorant Garamond", Arial, sans-serif;
}

h1,
h2,
h3 {
  text-align: center;
  color: #660066;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  text-decoration-line: underline;
}

.lori {
  padding: 30px;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 30px;
}

img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

footer img {
  justify-content: center;
  padding: 10px;
  border-radius: 30px;
  width: 50%;
  height: 50%;
}

hr {
  border: 1px solid #660066;
}

.center {
  width: 200px;
  margin: auto;
  text-align: left;
  font-size: 24px;
}

img {
  border-radius: 10px;
  border: 2px solid black;
}

.awards {
  font-size: 38px;
}

.transactions {
  height: 25%;
  width: 25%;
}

.banner img {
  border: none;
}

li {
  font-weight: bold;
}

.bio {
  padding: 0 120px;
  font-size: 26px;
  text-align: center;
}

.bold {
  font-weight: bold;
}

.all-about-lori {
  font-size: 56px;
  padding-top: 20px;
}

.lori-client, .lori-school {
  width: 250px;
  height: auto;
}

.family-cruise, .family-dolphin {
  width: 300px;
  height: auto;
  display: inline-block;
 
}

.family-dolphin {
  height: 250px;
  width: auto;
}

.family-photos {
  text-align: center;
  display: flex;
  align-items:center;
}
